<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{ int i = 0;
	foreach (Dictionary<string, string> jobs in ViewBag.jobs)
	{
			<div call="@(i % 2 == 0 ? "even" : "odd")">
				<table>
					@foreach(KeyValuePair<string, string> job in jobs)
					{
					<tr>
						<td>@(String.Format("{0}", job.Key))</td>
						<td>@(String.Format("{0}", job.Value))</td>

					</tr>
					
					}
				</table>
				<br />
				<p>******************</p>
			</div>


	}
}
